<div class="sidebar-inside" ng-style="bgalpha">
  <img src="static/photo.{{theme}}.{{pi}}.jpg" alt="" ng-mouseover="pi = (pi+1)%nphoto" ng-init="pi=0"></img><br>
  <div class="textbox">
    Postdoc @ Ufficio 21,<br>
    <a href="http://di.unito.it">Dipartimento di Informatica</a>,<br>
    <a href="https://www.unito.it">Università di Torino</a>,<br>
    Corso Svizzera 185,<br>
    10149 Torino, Italy<br>
    <img ng-src="static/mail.{{theme}}.png" alt="" class="mail"></img><br>
    <u><a href="static/audrito_cv.pdf">curriculum vitae</a></u>
  </div>
</div>
<div id="scroller" ng-style="bgalpha" data-spy="affix" class="hidden-xs hidden-sm">
  <div class="sidebar-inside">
    <input type="text" placeholder="search" ng-model="searchKey"></input>
    <ul id="nav" class="nav">
      <li ng-repeat="x in contents | filter : {'key': searchKey}">
        <a du-smooth-scroll="{{x.ref}}" du-scrollspy>{{x.title}}</a>
      </li>
    </ul>
  </div>
</div>
