/* ------------------------------------------------------------------------------
	Original Template: Minifolio 1.0
	Author: Designstub http://www.designstub.com
	License: GNU General Public License version 3.0

  Customized by Giorgio Audrito
*/

/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto%20Slab:300,400,500,600,700);

p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
  text-align: center;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.btn {
	background-color: #3bc492;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 5px;
	border: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
}
.btn:hover, .btn:focus {
	background-color: #3d3d3d;
	color: #fff;
}
.btn-large {
	padding: 15px 40px;
}

/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/

a {
	color: #e84545;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #6c7279;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.space
{
	margin-top:60px;	
}

/* ------------------------------------------------------------------------------
	Header
-------------------------------------------------------------------------------*/

#header {
	position: fixed;
	width: 100%;
	z-index: 999;
}
#header .header-content {
	margin: 0 auto;
	max-width: 1170px;
	padding: 40px 0;
	width: 100%;
	-moz-transition: padding 0.4s;
	-o-transition: padding 0.4s;
	-webkit-transition: padding 0.4s;
	transition: padding 0.4s;
}
#header .logo {
	float: left;
}

#header.fixed {
	background-color: rgba(0, 0, 0, 0.25);
}
#header.fixed .header-content {
	border-bottom: 0;
	padding: 10px 0;
}
#header.fixed .nav-toggle {
	top: 18px;
}
.navbar-collapse.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navbar-collapse {
  height: 32px;
  line-height: 32px;
	float: right;
}
.navbar-collapse li {
	display: inline-block;
}
.navbar-collapse a {
	color: rgba(255, 255, 255, 0.75);
	font-size: 15px;
	font-weight: 400;
	margin-left: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
  cursor: pointer;
}
.navbar-collapse a:hover, .navbar-collapse a.active {
	color: #fff;
}
@media (max-width: 767px) {
  .primary-nav {
    background-color: rgba(0, 0, 0, 0.70);
  }
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color: #4b1685;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color: #4b1685;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}

/* ------------------------------------------------------------------------------
	Sidebar
-------------------------------------------------------------------------------*/

.sidebar-inside {
  font-size: 15px;
  color: #eee;
  text-align: center;
}
.textbox {
  padding: 20px;
}
.sidebar-inside a {
  color: #eee;
}
.sidebar-inside a:hover {
  color: #aaa;
}
input{
  padding: 5px;
  color: #333;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.affix {
  top: 60px;
  width: 213px;
}
@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }
}
.affix-bottom {
  position: absolute;
  width: 213px;
}
@media (min-width: 1200px) {
  .affix-bottom {
    width: 263px;
  }
}
.nav a {
  color: #eee;
}
.nav > li > a:hover {
  color: #333;
  background: rgba(255, 255, 255, 0.3);
}
.nav .active {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
}
.nav .nav {
  display: none;
}
.nav .active .nav {
  display: block;
}
.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}
.nav .nav span {
  margin: 0 5px 0 2px;
}
.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}
.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

/* ------------------------------------------------------------------------------
	Box
-------------------------------------------------------------------------------*/

.fa-chevron-up, .fa-chevron-down {
  cursor: pointer;
}
.fa-chevron-up:hover, .fa-chevron-down:hover {
  color: #888;
}
.flushleft {
  text-align: right;
  vertical-align: top;
}
.box-main {
  box-shadow: 0px 5px 7px -1px #eaeaea;
  font-size: 16px;
  color: #3d3d3d;
  margin-bottom: 20px;
}
.box-header {
  box-shadow: 0px 0px 6px 2px #ddd;
  border-radius: 10px;
  padding: 10px;
}
.box-header a {
  color: #3d3d3d;
}
.box-header a:hover {
  color: #888;
}
.box-content.ng-hide {
  max-height: 0px;
}
.box-content.ng-hide-add {
  -webkit-transition: max-height linear 0.25s;
  transition: max-height linear 0.25s;
}
.box-content.ng-hide-remove {
  -webkit-transition: max-height linear 0.4s;
  transition: max-height linear 0.4s;
}
.box-content {
  max-height: 500px;
  padding: 10px;
  overflow: hidden;
  font-size: 15px;
}

/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/

.banner {
	background-color: #65349c;
	min-height: 750px;
}
.banner-text {
	padding-top: 28%;
}
.banner-text h1 {
	color: #fff;
	font-family: "Roboto Slab", sans-serif;
	font-size: 80px;
	font-weight: 700;
}
.banner-text p {
	color: #fff;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 80px;
}

/* ------------------------------------------------------------------------------
	Works -- unused
-------------------------------------------------------------------------------*/

.work {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;

  overflow: hidden;
  position: relative;
  visibility: hidden;
}
.work img {
  width:100%;
  height:100%;
}
.work .overlay {
  background: rgba(64, 35, 97, 0.9);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transition: opacity, 0.3s;
  -o-transition: opacity, 0.3s;
  -webkit-transition: opacity, 0.3s;
  transition: opacity, 0.3s;
}
.work .overlay-caption {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.work h5, .work p, .work img {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.work h5, .work p {
  color: #fff;
  margin: 0;
  opacity: 0;
}
.work h5 {
  margin-bottom: 5px;
  -moz-transform: translate3d(0, -200%, 0);
  -ms-transform: translate3d(0, -200%, 0);
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0);
}
.work p {
  -moz-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}
.work-box:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.work-box:hover .overlay {
  opacity: 1;
}
.work-box:hover .overlay h5, .work-box:hover .overlay p {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
	
/* ------------------------------------------------------------------------------
	Work animation -- unused
-------------------------------------------------------------------------------*/

.work:nth-child(1) {
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.work:nth-child(2) {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.work:nth-child(3) {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.work:nth-child(4) {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.work:nth-child(5) {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.work:nth-child(6) {
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.work:nth-child(7) {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.work:nth-child(8) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animated {
  visibility: visible;
}

/* ------------------------------------------------------------------------------
	Footer
-------------------------------------------------------------------------------*/

.footer {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 6px;
	text-align: center;
}
.footer p {
	font-family: "Roboto", sans-serif;
	font-size: 11px;
	color: #7f7f7f;
	letter-spacing: 2px;
	text-transform: uppercase;
  margin: 0 0 0px;
}
.footer a {
	color: #7f7f7f;
}
.footer a:hover {
	color: #e84545;
}
.footer .footer-share {
	margin-top: 0;
}
.footer .footer-share li {
	background: #3d3d3d none repeat scroll 0 0;
	border-radius: 50%;
	color: #ffffff;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	padding: 4px 0;
	margin: 0 5px;
	display: inline-block;
	float: none;
}
.footer .footer-share a {
	color: #fff;
}
.footer .fa-heart {
	color: #e84545;
	font-size: 11px;
	margin: 0 2px;
}
  
/* ------------------------------------------------------------------------------
	Inner Page Banner
-------------------------------------------------------------------------------*/

.innerbanner {
	background-color: #65349c;
	min-height: 100%;
}
.innerbanner-text {
	padding-top: 20%;
	padding-bottom: 5%;
}

.innerbanner-text p {
	color: #fff;
	font-family: "Roboto Slab", sans-serif;
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 80px;
}

/* ------------------------------------------------------------------------------
	Inner description
-------------------------------------------------------------------------------*/

.inner-description h1 {
	color: #3d3d3d;
	font-size: 23px;
	font-weight: 700;
	margin-top:55px;
}
.inner-description p {
	color: #3d3d3d;
	font-size: 17px;
	line-height: 33px;
	font-weight: 400;
}
.inner-description img {
  width:100%;
  border-radius:0%;
}
img.mail {
  width: 75%;
  margin: 5px;
}

/* ------------------------------------------------------------------------------
 Responsive
 -------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  #header .header-content {
    width: 90%;
  }
  .nav-toggle {
    display: block;
  }
  .navigation {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }
  .navigation .primary-nav {
    position: relative;
    top: 45%;
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
  }
  .navigation li {
    display: block;
    margin-bottom: 20px;
  }
  .navigation a {
    display: block;
    font-size: 25px;
    margin: 0;
    text-align: center;
  }
  .person {
    margin: 0 auto 50px;
  }
  .person-content {
    text-align: center;
  }
  .person .social-icons li {
    display: inline-block;
    float: none;
    margin-bottom: 5px;
  }
  .testimonials blockquote {
    padding: 20px 5% 0;
  }
  .testimonials p {
    font-size: 26px;
  }
  .flex-control-nav {
    bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  #header .header-content {
    padding: 45px 0;
  }
  .banner {
    min-height:100%!important;
  }
  .banner-text {
    padding-top: 30%;
  }
  .banner-text h1 {
    font-size: 42px;
  }
  .banner-text p {
    font-size: 18px;
  }
  .innerbanner-text{
    padding-top: 30%;
  }
  .flexslider {
    padding-bottom: 80px;
  }
  .flex-control-nav {
    width: 100%;
  }
  .footer .footer-col {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 640px) {
  #header .header-content {
    padding: 45px 0;
  }
  .banner-text {
    padding-top: 35%;
  }
  .innerbanner-text{
    padding-top: 35%;
  }
}
@media screen and (max-width: 480px) {
  #header .header-content {
    padding: 45px 0;
  }
  .banner-text {
    padding-top: 45%;
  }
  .banner-text h1 {
    font-size: 32px;
  }
  .innerbanner-text{
    padding-top: 45%;
  }
}
@media screen and (max-width: 320px) {
  #header .header-content {
    padding: 45px 0;
  }
  .banner-text {
    padding-top: 55%;
  }
  .innerbanner-text{
    padding-top: 55%;
  }
  .testimonials blockquote {
    padding: 20px 5% 0;
  }
  .testimonials p {
    font-size: 26px;
  }
}
