<div>
  <!-- header section -->
  <div ng-include="'html/elements/header.html'"></div>
  <!-- header section -->
  
  <!-- description text section -->
  <section id="inner-description" class="section inner-description">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div ng-include="'html/elements/sidebar.html'" onload="data.affix()"></div>
        </div>
        <div class="col-sm-9">
          <div ng-repeat="i in data.contents | filter : {'_key': data.searchKey}">
            <div ng-include="'html/elements/'+i._template+'.html'" ng-hide="i.num > data.maxlen"></div>
            <section id="showmore" ng-if="i.num == data.maxlen+1">
              <h3><a ng-click="data.maxlen = data.maxlen + 2"><u>show more</u></a></h3>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- description text section -->

  <!-- footer -->
  <div ng-include="'html/elements/footer.html'"></div>
  <!-- footer -->
</div>
