<div class="sidebar-inside" ng-style="data.bgalpha">
  <img src="static/photo.{{data.theme}}.{{data.pi}}.jpg" alt="" ng-click="data.pi = (data.pi+1)%data.nphoto" ng-mouseover="data.pi = (data.pi+1)%data.nphoto"></img><br>
  <div class="textbox">
    <div ng-repeat="x in data.address">
      <ng-bind-html ng-bind-html="x"></ng-bind-html>
      <br>
    </div>
    <img ng-src="static/mail.{{data.theme}}.png" alt="" class="mail"></img><br>
    <u><a href="static/audrito_cv.pdf">curriculum vitae</a></u>
  </div>
  <input type="text" placeholder="search" ng-model="data.searchKey" class="visible-xs visible-sm"></input>
</div>
<div id="scroller" ng-style="data.bgalpha" data-spy="affix" class="hidden-xs hidden-sm">
  <div class="sidebar-inside">
    <input type="text" placeholder="search" ng-model="data.searchKey"></input>
    <ul id="nav" class="nav">
      <li ng-repeat="x in data.contents | filter : {'_key': data.searchKey}">
        <a du-smooth-scroll="{{x._ref}}" du-scrollspy ng-hide="x.num > data.maxlen">{{x.title}}</a>
        <a du-smooth-scroll="showmore" du-scrollspy ng-show="x.num == data.maxlen+1">show more</a>
      </li>
    </ul>
  </div>
</div>
